.userListPage{
	padding: 19px 62px 25px 31px;
	h2 {
		margin-bottom: 17px;
		}
	.loader-wrapper {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		backdrop-filter: blur(10px);
		z-index: 100;	
	}
}
