.form {
	border: 1px solid #F3F3F3;
	border-radius: 8px;
	padding: 20px 6px 19px 12px;
	&-item {
		margin-bottom: 10px;
		
	}
}
.form-btn {
	margin-top: 10px;
	text-align: right;
	button {
		background-color: #52CF4F;;
	}
}