@import "./null.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.App {
  display: flex;
  font-family: Roboto;
  max-width: 1028px;
  height: 100%;
  margin: 0 auto;
  justify-content: center;
    h2{
      font-weight: 700;
			font-size: 14px;
			line-height: 16px;
    }
}

